<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ProgramTime</key>
		<array>
			<dict>
				<key>Hour</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>2</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>3</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>4</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>5</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>7</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1800</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>9</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>14</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>16</integer>
				<key>Min</key>
				<integer>30</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>23</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>24</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ProgramTime</key>
		<array>
			<dict>
				<key>Hour</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>2</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>3</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>4</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>5</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>7</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1800</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>9</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>14</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>16</integer>
				<key>Min</key>
				<integer>30</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>23</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>24</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ProgramTime</key>
		<array>
			<dict>
				<key>Hour</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>2</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>3</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>4</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>5</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>7</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1800</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>9</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>14</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>16</integer>
				<key>Min</key>
				<integer>30</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>23</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>24</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ProgramTime</key>
		<array>
			<dict>
				<key>Hour</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>2</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>3</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>4</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>5</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>7</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1800</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>9</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>14</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>16</integer>
				<key>Min</key>
				<integer>30</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>23</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>24</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ProgramTime</key>
		<array>
			<dict>
				<key>Hour</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>2</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>3</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>4</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>5</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>7</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1800</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>9</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>14</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>16</integer>
				<key>Min</key>
				<integer>30</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>23</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>24</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ProgramTime</key>
		<array>
			<dict>
				<key>Hour</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>2</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>3</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>4</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>5</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>7</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1800</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>9</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>14</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>16</integer>
				<key>Min</key>
				<integer>30</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>23</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>24</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ProgramTime</key>
		<array>
			<dict>
				<key>Hour</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>2</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>3</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>4</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>5</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>7</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1800</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>9</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>14</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>1620</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>16</integer>
				<key>Min</key>
				<integer>30</integer>
				<key>Temprature</key>
				<integer>1890</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>23</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>630</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>24</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Temprature</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
